.departure {
    background: rgba(255, 255, 255, 0.36);
    display: grid;
    grid-template-columns: 40px 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas: "line direction time-left"
                         "line time      time-left";
    padding: 7px 10px;
    text-align: left;
    border-radius: 4px;
}

.departure-line {
    grid-area: line;
}

.departure-direction {
    font-weight: bold;
    grid-area: direction;
}

.departure-time {
    grid-area: time;
    font-size: 0.7em;
}

.departure-time-left {
    grid-area: time-left;
}

span.corrected {
    text-decoration: line-through;
    opacity: 0.65;
}