.App {
  text-align: center;
}

#container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
          "inside weather trains"
          "calendar calendar trains";
  padding: 40px;
}

#inside {
  grid-area: inside;
}

#weather {
  grid-area: weather;
}

#trains {
  grid-area: trains;
}

#calendar {
  grid-area: calendar;
}
